
@{
    ViewBag.Title = "";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(document).ready(function () {
        $("#spanOldPwd").text("");
        $("#spanNewPwd").text("");
        $("#spanNewPwdAgain").text("");
        $("#txtOldPassword").focus();
        var emailId = '@Session["EmailId"].ToString()'
        var lblOldPwdStatus = $("#lblOldPwdStatus");
        //$("#btnSave").prop("disabled", true);

      

        $("#txtOldPassword").focusout(function () {
            var oldPassword = $("#txtOldPassword").val();

            $.ajax({
                    type: "Post",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("CheckOldPassword")',
                    data: "{ oldPwd:'" + oldPassword + "', emailId:'" + emailId + "'}",
                    dataType: "json",
                    success: function (response) {
                        var value = response;
                        if (parseInt(value) == 1) {
                            lblOldPwdStatus.html("<img src='../../Images/Right.png' style='position: absolute; width:20px; hight:20px;' />").hide().fadeIn(1000);
                           // btnChangePwd.prop("disabled", false);
                           // txtOldPwd.focus();
                        }
                        else
                        {
                            lblOldPwdStatus.html("<img src='../../Images/Wrong.png' style='position: absolute; width:20px; hight:20px;' title='Please enter correct Password!!!'/>").hide().fadeIn(1000);
                           // btnChangePwd.prop("disabled", true);
                            $("#txtOldPassword").focus();
                        }
                    },
                    error: function (error) {
                        alert("Error: " + error.status);
                    }
                });
        });

        $("#btnSave").click(function () {
          
            $("#spanOldPwd").text("");
            $("#spanNewPwd").text("");
            $("#spanNewPwdAgain").text("");
            var status = true;

            if ($("#txtOldPassword").val() == "") {
                $("#spanOldPwd").text("this field is required!!!");
                status = false;
            }
            if ($("#txtNewPassword").val() == "") {
                $("#spanNewPwd").text("this field is required!!!");
                status = false;
            }
            if ($("#txtNewPasswordAgain").val() == "") {
                $("#spanNewPwdAgain").text("this field is required!!!");
                status = false;
            }
            if (status == false)
                return false;
            if ($("#txtNewPasswordAgain").val() != $("#txtNewPassword").val()) {
                $("#spanNewPwdAgain").text ("Password Again should be same as the new password!!!");
                status = false;
            }
            if (status == false)
                return false;

        });
    });
</script>
<table width="100%" border="0" cellpadding="3" cellspacing="3">
    <tr>
        <td>
            <h2>Chang Your Password</h2>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellpadding="3" cellspacing="3">
               
                <tr>


                    <td width="50%" style="border:5px solid Green">
                        @using (Html.BeginForm())
                        {
                        <table width="100%" border="0" cellpadding="2" cellspacing="2" align="center">
                            
                            <tr align="center">
                                @if (ViewBag.Status != null)
                                {
                                    if (ViewBag.Status == 1)
                                    {
                                        <b style="color:green">Password has been changed successfully!!!</b>
                                    }
                                    else
                                    {
                                        <b style="color:red">Password has been Changing Failed</b>
                                    }
                                }
                            </tr>

                            <tr align="center">
                                <td>
                                    <b>Your Old Password</b>
                                </td>
                            </tr>

                            <tr align="center">
                                <td>
                                    <input type="password" id="txtOldPassword" name="oldPassword" placeholder="Enter your old Password" required />
                                    <span id="lblOldPwdStatus"></span>
                                </td>
                            </tr>
                            <tr align="center">
                                <td>
                                    <span id="spanOldPwd" style="color:red"></span>
                                </td>
                            </tr>
                            <tr align="center">
                                <td>
                                    <b>Your New Password</b>
                                </td>
                            </tr>
                            <tr align="center">
                                <td>
                                    <input type="password" id="txtNewPassword" name="newPassword" placeholder="Enter your new Password" required />

                                </td>
                            </tr>

                            <tr align="center">
                                <td>
                                    <span id="spanNewPwd" style="color:red"></span>
                                </td>
                            </tr>

                            <tr align="center">
                                <td>
                                    <b>Your new Password again</b>
                                </td>
                            </tr>
                            <tr align="center">
                                <td>
                                    <input type="password" id="txtNewPasswordAgain" name="newPasswordAgain" placeholder="Enter your new Password again" required />

                                </td>
                            </tr>

                            <tr align="center">
                                <td>
                                    <span id="spanNewPwdAgain" style="color:red"></span>
                                </td>
                            </tr>

                            <tr></tr>
                            <tr>
                                <td align="center">
                                    <input type="submit" id="btnSave" value="Save" width="70" />
                                    &nbsp;
                                    <input type="button" id="btnBack" value="Back" onclick="javascript:document.location.href='@Url.Action("Index","Home")'" />
                                </td>
                            </tr>
                        </table>
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
