@model IEnumerable<FirstDemoAppOnGit.Models.tblComment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    &nbsp;&nbsp;&nbsp;
    @*<input type="button" id="btnBack" value="Back" onclick="javascript:document.location.href='@Url.Action("Index","Home")'" />*@
    @Html.ActionLink("Back to Control Panel", "Index", "Home")
</p>

<table class="table" border="1" style="border-color:green;border-width:medium" width="100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommentBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblPost.PostTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommentBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblPost.PostTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommentId })
        </td>
    </tr>
}

</table>
