@model IEnumerable<FirstDemoAppOnGit.Models.tblPost>

@{
    ViewBag.Title = "Index";
}


<h2>Your Posts</h2>

@Html.ActionLink("Create New Post", "Create")
            &nbsp;&nbsp;&nbsp;
@*<input type="button" id="btnBack" value="Back" onclick="javascript:document.location.href='@Url.Action("Index","Home")'" />*@
@Html.ActionLink("Back to Control Panel", "Index", "Home")

<table width="100%" style="border:5px solid green" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVisible)
        </th>
        <th>
            Action
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr align="center">
            <td>
                @Html.DisplayFor(model => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(model => item.PostTitle)
            </td>
            <td>
                @Html.DisplayFor(model => item.PostBody)
            </td>
            <td>
                @Html.DisplayFor(model => item.PostDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.IsVisible)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PostId })
                &nbsp;
                @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
                &nbsp;
                @Html.ActionLink("Details", "Details", new { id = item.PostId })
            </td>
        </tr>
    }
</table>

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVisible)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVisible)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PostId }) |
                @Html.ActionLink("Details", "Details", new { id=item.PostId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PostId })
            </td>
        </tr>
    }

    </table>*@
